.App-dark {
  text-align: center;
  background-color: #0d0d0d;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #e6dedd;
}

.App-light {
  text-align: center;
  background-color: #ececec;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.link {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}
